In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
HousePrice = pd.read_csv('Average House Price.csv')

In [4]:
YoungPeopleParents = pd.read_csv('Percentage of young people 20 to 34 living with parents.csv')

In [5]:
HousePrice.head()

   Year  Average price
0  1996          59885
1  1997          64604
2  1998          72469
3  1999          82504
4  2000          93624

In [6]:
YoungPeopleParents.head()

   Year  Percentage living with parents
0  1996                              21
1  1997                              20
2  1998                              19
3  1999                              20
4  2000                              20